<div class="about-section">
  <h1>About Us </h1>
  <p>Our team of highly qualified Ayurvedic doctors in Sri Lanka perform general physician services for outpatients as required. Referral services to specialists are also offered in the event that they are deemed necessary.</p>
  
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../assets/doctor1.jpg" alt="Doctor1" style="width:100%">
      <div class="container">
        <h2>Doctor1</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me </p>
        <p>doctor@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/doctor2.jpg" alt="Doctor2" style="width:100%">
      <div class="container">
        <h2>Doctor2</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me .</p>
        <p>doctor2@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/doctor3.jpg" alt="Doctor3" style="width:100%">
      <div class="container">
        <h2>Doctor3</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me.</p>
        <p>Doctor3@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>