<div class="row">

  <div class="col-12 p-0">
    <nav class="p-1 navbar navbar-expand-lg navbar-light bg-primary">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample08"
        aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div style="font-size:1rem;" class="navbar-collapse justify-content-md-center collapse" id="navbarsExample08">
        <ul class="navbar-nav">
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/hospitals" class="nav-link">Hospitals</a>
          </li>
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/services" class="nav-link">Services</a>
          </li>
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/herbs" class="nav-link">Herbs</a>
          </li>
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/about" class="nav-link">About</a>
          </li>
          <li routerLinkActive="active" class="nav-item pr-1 pl-1">
            <a routerLink="/contact" class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item pr-1 pl-1">
            <a class="nav-link" target="new" href="https://bootstrap.build/app/project/tDgHGhgLEAYH">Template</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>

</div>
