

<div class = "services" style="text-align: left ; margin:1%"> 
    <p class = "title"  title="Service facilities" >SERVICES & FACILITIES</p>
    <p class= "para" > With an expert panel of Ayurveda doctors together with a range of available in-house treatments <br> As an Ayurveda hospital Sri Lanka is well known for, visitors can expect a heartfelt service that comprises specialist consultations, OPD service, Clinical services, Medical issue services and an array of facilities can take from kesbawa ayurvedic hospital. </p>
 </div>


 <div class="row" style= margin:1%>
    <div class="column">
      <img src="../assets/service1.jpg" style="width:500px;height:400px">
    </div>
    <div class="column">
      <img src="../assets/service2.jpg"  style="width:500px;height:400px">
    </div>
    <div class="column">
      <img src="../assets/service3.jpg"  style="width:500px;height:400px">
    </div>
  </div>