

<div class = "services" style="text-align: left ; margin:1%"> 
    <p class = "title"  title="Service facilities" >SERVICES & FACILITIES</p>
    <p class= "para" > With an expert panel of Ayurveda doctors together with a range of available in-house treatments. <br> As an Ayurveda hospital Sri Lanka is well known for, visitors can expect a heartfelt service that comprises specialist consultations, OPD service, Clinical services, Medical issue services and an array of facilities can take from kesbawa ayurvedic hospital. </p>
 </div>


 <div class="row" style= margin:1%>
    <div class="column">
      <img src="../assets/service1.jpg" style="width:500px;height:400px">
    </div>
    <div class="column">
      <img src="../assets/service2.jpg"  style="width:500px;height:400px">
    </div>
    <div class="column">
      <img src="../assets/service3.jpg"  style="width:500px;height:400px">
    </div>
  </div>



  <div class="row" style= "margin:1% ">
  <div class = "column"  style ="background-color: yellowgreen;border: 4px solid black "> 
    <p class = "title" style="text-align: center; color: red" title="OPD service" >OPD</p>
    <p class= "para" style="text-align: center"> Our team of highly qualified Ayurvedic doctors in Sri Lanka perform general physician services for outpatients as required. Referral services to specialists are also offered in the event that they are deemed necessary.<br> Patients can visit the hospital daily from 07:00am till 08:00pm. </p>
 </div>

 <div class = "column"  style ="background-color:pink; border: 4px solid black "> 
    <p class = "title" style="text-align: center; color: red" title="Clinic service" >CLINIC</p>
    <p class= "para" style="text-align: center"> Our Ayurvedic hospital in Sri Lanka hosts a network of highly skilled doctors who specialize in the fields of : <br> 
     </p>
     
 </div>
   
 <div class = "column"  style ="background-color:aqua; border: 4px solid black "> 
    <p class = "title" style="text-align: center; color: red" title="Clinic service" >PHARMACY</p>
    <p class= "para" style="text-align: center">The primary mission of hospital pharmacy is to manage the use of medications in hospitals and other medical centers.<br> Goals include the selection, prescription, procuration, delivery, administration and review of medications to optimize patient outcomes. 
     </p>
     
 </div>
</div>

