<div class="card" style="width: 600px;margin: 0 auto;float: none;margin-bottom: 10px;">
  <div class="card-body">
    <h5 class="card-title">Herbs in Our Hospital</h5>
<table class="table table-striped w-auto">
  <thead>
    <tr>
      <th scope="col">Sinahala Name</th>
      <th scope="col">Type</th>
      <th scope="col">English Name</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let obj of data;let j=index">
      <td>{{obj.name_sinhala}}</td>
      <td>{{obj.type_sinhala}}</td>
      <td>{{obj.name_english}}</td>
      <td>{{obj.type_english}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>
