<div class='container-fluid'>  
  <div class="row" style="padding: 20px;">  
      <div class="col-sm-12 btn btn-success">  
          Welcome To Kesbawa Ayurvedic Hospital
      </div>  
  </div>  
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="../assets/slide1.jpg" alt="Delhi Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Delhi Metro</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/slide2.jpg" alt="Bangalore Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Bangalore Metro</h3>  
              </div>  
          </ng-template>  
           
          <ng-template ngbSlide>  
              <img src="../assets/slide4.jpg" alt="Jaipur Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Jaipur Metro</h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/slide5.jpg" alt="Mumbai Metro">  
              <div class="carousel-caption">  
                  <h3 style="color: yellow">Mumbai Metro</h3>  
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div>