.icon {
    display: inline-block;
    position: relative;
    border: none;
    outline: none;
    width: auto;
    padding-right: 30px;
    vertical-align: middle;
  }
  
  .flaticon-phone-call-1 {
    font-weight:bold;
    background-image: url("https://i.pinimg.com/originals/b5/d7/19/b5d7198734ee5174b581630628ecfdd6.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }

  p.title {
     
    padding: 35px 20px 35px 20px;
    font-family: "Neoclassical";
    font-size: 250%;
    font-stretch: expanded;
    color: lightseagreen;
  }
  
  p.para {
    
    margin: 35px;
    font-size: 120%;
  }

  div.section-welcome {
    text-align: center;

  } 

  div.ftr{
    background-color: black;
    text-align: center;
    color: whitesmoke;
    padding: 20px 20px 20px 10px;
    font-size: 80%;
   
  }