

<div class='container-fluid'>  
  
   
  <div class='col-12'>  
      <ngb-carousel>  
          <ng-template ngbSlide>  
              <img src="../assets/slide1.jpg" alt="Delhi Metro" style="width:1600px;height:600px" >  
              <div class="carousel-caption">  
                  <h3 style="color: black">Tel: <a href="0112702020"><span class="icon flaticon-phone-call-1"> 0112702020 </span></a></h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/slide2.jpg" alt="Bangalore Metro" style="width:1600px;height:600px">  
              <div class="carousel-caption">  
                  <h3 style="color: black"><a href="0112702020"><span class="icon flaticon-phone-call-1">0112702020   </span></a></h3>  
              </div>  
          </ng-template>  
           
          <ng-template ngbSlide>  
              <img src="../assets/slide4.jpg" alt="Jaipur Metro" style="width:1600px;height:600px">  
              <div class="carousel-caption">  
                  <h3 style="color: black">Tel: <a href="0112702020"><span class="icon flaticon-phone-call-1"> 0112702020 </span></a></h3>  
              </div>  
          </ng-template>  
          <ng-template ngbSlide>  
              <img src="../assets/slide3.jpg" alt="Mumbai Metro" style="width:1600px;height:600px">  
              <div class="carousel-caption">  
                  <h3 style="color: black">Tel: <a href="0112702020"><span class="icon flaticon-phone-call-1"> 0112702020 </span></a></h3>  
              </div>  
          </ng-template>  
      </ngb-carousel>  
  </div>  

</div>




<div class = "section-welcome" style="text-align: center"> 
    <p class = "title"  title="welcome hospital" >WELCOME TO KESBAWA AYURVEDIC HOSPITAL!</p>
    <p class= "para" >  Our Kesbawa Ayurveda hospital in Sri Lanka offers professional consultation to local patients everyday of the week. <br>A wide range of treatments are delivered to patients by a panel of well experienced Ayurveda specialist doctors who are renowned for providing customized remedies combined with personal care & attention.<br> What makes our hospital standout is that 90% of the medicine used in our treatments are produced locally by using all natural ingredients. Keeping up with standards and ensuring both safety and authenticity.</p>
 </div>
 


 
<div class = "ftr">
 <footer >
    <img src="../assets/logo.png" style="width:100px;height:100px">
    <p>Kesbawa Ayurvedic Hospital</p>
    <p>Contact information: <a href="mailto:someone@example.com">someone@example.com</a>.</p>
    <p >Telephone number-  0112702020</p>
    <p >Telephone number-  0112702020</p>
    <p >Address - put the address here </p>
  </footer>
</div>
